:root {
  --main-color: #b01c1c;
  --main-color-dark: #881616;
  --square-size: 300px;
}

header {
  padding: 150px 50px;
  width: 100%;
  box-sizing: border-box;
  background: right / contain cadetblue url(/assets/ola.png) no-repeat;
}

.container {
  display: flex;
  margin: 0 0 20px;
}

.cuadrado {
  height: var(--square-size);
  border: 5px solid #1c1c1c;
  background-color: bisque;
}

.rojo {
  background-color: var(--main-color);
}

.verde {
  background-color: #30a609;
}

.bg-custom-dark {
  background-color: #030543;
}

header h1 b.title-bold.custom-bold#link {
  color: #030543 !important;
}

.title-bold {
  color: #881616;
}
